:root {
  --theme: #8ee1ff;
  --text: #282838;
}

* {
  box-sizing: border-box;
}
/* Applied flex display to the navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: #3b5369;
  color: var(--text);
}

#title {
  display: flex;
  justify-content: space-around;
  width: 25%;
  margin-left: 0;
  background-color: var(--theme);

}

#social img {
  height: 30px;
  padding: 0px 2%;
  cursor: pointer;
}

#social {
  display: flex;
  justify-content: center;
  /* padding-left: 10%; */
  padding-top: 0.5%;
  width: 30%;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 35%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: var(--theme);
  font-weight: bold;
  text-decoration: none;
  margin-right: 10%;
  border-bottom: 2px solid var(--theme);
}
/* Added hover effect to the menu */
nav a:hover {
  color: white;
  border-bottom: 2px solid white;
}

ul {
  list-style: none;
  padding-inline-start: 2%;
}

.hero-banner {
  display: flex;
  height: 150px;
  margin-bottom: 10px;
  flex-direction: row-reverse;
  align-items: flex-end;
  background-image: url(../images/177606.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

#hero-text {
  display: flex;
  justify-content: space-around;
  margin-right: 80px;
  margin-bottom: 30px;
  padding: 0px 5px;
  background-color: var(--theme);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  text-align: right;
  font-size: 150%;
  line-height: 1.2;
  color: var(--text);
}

p {
  height: 100px;
  margin: 10px 0px;
  font-size: 14px;
  line-height: 1.2;
  color: var(--text);
  overflow: hidden;
}
/* Applied display grid to replicate the design. Couldn't find a code for hyperlink in CSS so all links were created in HTML. */
#PageWrap {
  margin-right: 10%;
  display: grid;
  min-height: 700px;
  height: 90vh;
  grid-template-rows: 20% 65% 15%;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    "PageA PageA"
    "PageW PageW"
    "PageC PageC"
    ;
}

#about {
  grid-area: about;
  border-right: 3px solid var(--text);
  padding-right: 5%;
  margin-right: 15%;
}

#work {
  grid-area: work;
  border-right: 3px solid var(--text);
  padding-right: 5%;
  margin-right: 15%;
}

#contact {
  grid-area: contact;
  border-right: 3px solid var(--text);
  padding-right: 5%;
  margin-right: 15%;
}

#PageA {
  grid-area: PageA;
  /* background-color: #8ee1ff; */
  margin: 10px 0px 15px;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    "about TextA"
    ;
}

#PhotoA {
  margin: 5px 10px 0px 0px;
  display: inline-block;
  float: left;
}

#TextA {
  display: inline-block;
  float: right;
  margin-right: 5px;
}

#PageW {
  grid-area: PageW;
  /* background-color: bisque; */
  margin: 10px 0px 15px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 20% 40% 40%;
  grid-template-areas:
    "work Page0W Page0W"
    "work Page0W Page0W"
    "work Page0W Page0W"
    "work Page1W Page2W"
    "work Page3W Page4W"
    ;
}

#Page0W {
  grid-area: Page0W;
  display: grid;
  background-image: url(../images/Portfolio-101A.jpg);
  background-size: cover;
  border: 4px solid var(--theme);
  margin: 5px;
}

#Page1W {
  grid-area: Page1W;
  display: grid;
  background-image: url(../images/Portfolio-01A.jpg);
  background-size: cover;
  border: 4px solid var(--theme);
  margin: 5px;
}

#Page2W {
  grid-area: Page2W;
  display: grid;
  background-image: url(../images/Portfolio-02A.jpg);
  background-size: cover;
  border: 4px solid var(--theme);
  margin: 5px;
}

#Page3W {
  grid-area: Page3W;
  display: grid;
  background-image: url(../images/Portfolio-03A.jpg);
  background-size: cover;
  border: 4px solid var(--theme);
  margin: 5px;
}

#Page4W {
  grid-area: Page4W;
  display: grid;
  background-image: url(../images/Portfolio-04A.jpg);
  background-size: cover;
  border: 4px solid var(--theme);
  margin: 5px;
}
/* Positioning the text tabs on the left side of the boxes using flex/grid didn't work. Adhering to this design also means the box-model doesn't quite work for responsiveness either */
.PageTA { 
  position: relative;
  color: var(--text);
  opacity: 0.9;
  font-size: 16px;
  text-align: center;
  line-height: 0.3;
  padding: 10px;
  width: 120px;
  height: 50px;
  margin-top: 208px;
  background-color: var(--theme);
}

.PageTB {
  position: relative; 
  color: var(--text);
  opacity: 0.9;
  font-size: 16px;
  text-align: center;
  line-height: 0.3;
  padding: 10px;
  width: 120px;
  height: 50px;
  margin-top: 20px;
  background-color: var(--theme);
}


#PageC {
  grid-area: PageC;
  /* background-color: chartreuse; */
  margin: 10px 0px 15px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    "contact Page1C"
    ;
}

#Page1C {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
}

div li a {
  color: var(--text);
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid var(--text);
}
/* Hover effect for links at the bottom */
div li a:hover {
  color: var(--theme);
  border-bottom: 2px solid var(--theme);
}

div 
.PageTA a, 
.PageTB a {
  color: var(--text);
  text-decoration: none;
}

/* Responsive code */

@media only screen and (max-width: 600px){
  header { 
    background-color: #3c2e4b;
    flex-direction: column;
  }
  :root {
    --theme: #8ee1ff;
    --text: #382831;
  }
  #title {
    display: block;
    text-align: center;
    margin: 10px;
    width: 50%;
    color: var(--theme);
    background-color: inherit;
  }
  #social {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 50%;
    margin: 0;
  }

  #menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin: 0;
  }

  nav a {
  margin: 0;
  }

  h2 {
    font-size: 20px;
  }

  #about h2, #contact h2 {
    text-align: left;
    writing-mode: vertical-rl;
    margin: 10% 20% 0;
    line-height: 1.0;
  }

  #work h2 {
    text-align: left;
    writing-mode: vertical-rl;
    margin: 10% 60% 0;
  }

  h4 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }

  #PageW {
    grid-template-rows: 32% 17% 17% 17% 17%;
    grid-template-columns: 20% 80%;
    grid-template-areas:
      "work Page0W"
      "work Page1W"
      "work Page2W"
      "work Page3W"
      "work Page4W"
      ;
  }

  .PageTA, .PageTB {
    line-height: 0.1;
    padding: 5px;
    height: 35px;
    width: 90px;
    margin: 0;
  }

  #Page1C {
    flex-wrap: wrap;
  }

}

